<mat-toolbar class="md-medium-tall" color="primary">
    <mat-toolbar-row name="toolbarAdmin">
      <span></span>
      <div>
        <button  mat-raised-button color='primary' [routerLink]="'/register-form'"> Personalizovani odabir </button>
        <button  mat-raised-button color='primary' [routerLink]="'clothes'"> Pregled odeće </button>
        <button  mat-raised-button color='primary' [routerLink]="'activity24'"> Aktivnost poslednja 24h </button>
        <button  mat-raised-button color='primary' [routerLink]="'activity7'"> Aktivnost poslednjih 7 dana </button>
        <button  mat-raised-button color='accent' [routerLink]="'add-clothes'"> Dodaj novi komad</button>
      </div>
    </mat-toolbar-row>
  
  </mat-toolbar>
<router-outlet></router-outlet>
