<div class = "glavni" *ngIf="dataSourceActive == 0">
    <form [formGroup]="myForm">
        <ng-container *ngIf="step == 1" >
            <mat-form-field>
                <mat-label>Dresscode</mat-label>
                <mat-select  formControlName = "dresscode" (ngModelChange)="changed()">
                    <mat-option *ngFor="let dress of dresscode;" [value]="dress.value">
                    {{dress.viewValue}}
                    </mat-option>
                </mat-select>
                <mat-error>
                    Please provide a valid title
                  </mat-error>
            </mat-form-field>
        </ng-container>
        <ng-container *ngIf="step == 2" >
            
                <mat-label>Boja koze</mat-label>                
                <br>
                <input type="radio" name="gender" [value] = "SUMMER" (click)="check('SUMMER')" >
                <label style="height: 100px; width: 100px; background-color: rgb(238,207,187); color: rgb(238,207,187);">ds</label>
                <label style="height: 100px; width: 100px; background-color: rgb(205,149,118); color: rgb(205,149,118);">ds</label>
                <br>
                <input type="radio" name="gender" [value] = "SPRING" (click)="check('SPRING')">
                <label style="height: 100px; width: 100px; background-color: rgb(254,213,187); color: rgb(254,213,187);">ds</label>
                <label style="height: 100px; width: 100px; background-color: rgb(195,153,125); color: rgb(195,153,125);">ds</label>
                <br>
                <input type="radio" name="gender" [value] = "AUTUMN" (click)="check('AUTUMN')">
                <label style="height: 100px; width: 100px; background-color: rgb(246,181,152); color: rgb(246,181,152);">ds</label>
                <label style="height: 100px; width: 100px; background-color: rgb(239,201,189); color: rgb(239,201,189);">ds</label>
                <br>
                <input type="radio" name="gender" [value] = "WINTER" (click)="check('WINTER')">
                <label style="height: 100px; width: 100px; background-color: rgb(254,210,199); color: rgb(254,210,199);">ds</label>
                <label style="height: 100px; width: 100px; background-color: rgb(233,215,203); color: rgb(233,215,203);">ds</label>
                    
                
        </ng-container>
        <ng-container *ngIf="step == 3" >
            <mat-form-field>
                <mat-label>Vreme</mat-label>
                <mat-select formControlName = "vreme" (ngModelChange)="changed()">
                    <mat-option *ngFor="let vreme of godisnjedoba;" [value]="vreme.value">
                    {{vreme.viewValue}}
                    </mat-option>
                </mat-select>
                <mat-error>
                    Please provide a valid title
                  </mat-error>
            </mat-form-field>
        </ng-container>
        <br>
        <button mat-raised-button color="primary" *ngIf="step < 3" (click)="step = step + 1; invalid = true;" [disabled] = "invalid" >Next</button>
        <button mat-raised-button color="primary" *ngIf="step == 3" [disabled] = "invalid" (click) = onSubmit(myForm)>Submit</button>
    </form>
</div>

<app-results-opste
  *ngIf="dataSource"
  [data]="dataSource">
</app-results-opste> 