
<div *ngFor="let kombinacija of listaKombinacija">
    <div style="display:flex; flex-direction: row; margin: 5px 1%;">
    <h2 style=" color: #73cb90;">Kombinacija </h2>
    <div style="margin-left: auto; margin-right: 0;  display: flex; align-items: center; vertical-align: middle;">
        <span style="color: #4e7d5e; font-size: 30px; font-weight: bold; font-family: 'Courier New', Courier, monospace;">{{ kombinacija.vreme | date:'HH:mm' }}</span>
    </div>
    </div>
    <div style="display:flex; flex-direction: row; max-width: 100%; margin-bottom: 10px;">
        <!-- <mat-card class="example-card"> -->
            
            <img  src='{{kombinacija.gornjiDeo.image}}'/>
        <!-- </mat-card>
        <mat-card class="example-card"> -->

            <img src='{{kombinacija.donjiDeo.image}}'/>
        <!-- </mat-card>
        <mat-card class="example-card"> -->

            <img src='{{kombinacija.jakna.image}}'/>
        <!-- </mat-card>
        <mat-card class="example-card"> -->

            <img src='{{kombinacija.obuca.image}}'/>
        <!-- </mat-card> -->
     </div>
</div>
