<div style="display:flex; flex-direction: row; margin: 5px 1%;">
  <h2 style=" color: #73cb90;">Najčesće birano poslednjih 7 dana: </h2>
</div>
<div style="display:flex; flex-direction: row;" *ngIf="gornjiDeoNajvise?.image">
  <mat-card class="example-card">
    <!-- <img mat-card-image src="https://placekitten.com/g/350/200"> -->
    <img mat-card-image src='{{gornjiDeoNajvise.image}}' />
    <mat-card-content>
      <p>Izabrano puta : <strong>{{gornjiDeoNajvise.poeni}}</strong></p>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <button mat-icon-button color="accent" (click)="otvoriDijalog(gornjiDeoNajvise.id)"
        matTooltip="Najviše kombinovano sa...">
        <mat-icon class="icon-class-fill">help_outline</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <!-- <img mat-card-image src="https://placekitten.com/g/350/200"> -->
    <img mat-card-image src='{{donjiDeoNajvise.image}}' />
    <mat-card-content>
      <p>Izabrano puta : <strong>{{donjiDeoNajvise.poeni}}</strong></p>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <button mat-icon-button color="accent" (click)="otvoriDijalog(donjiDeoNajvise.id)"
        matTooltip="Najviše kombinovano sa...">
        <mat-icon class="icon-class-fill">help_outline</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <!-- <img mat-card-image src="https://placekitten.com/g/350/200"> -->
    <img mat-card-image src='{{jaknaNajvise.image}}' />
    <mat-card-content>
      <p>Izabrano puta : <strong>{{jaknaNajvise.poeni}}</strong></p>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <button mat-icon-button color="accent" (click)="otvoriDijalog(jaknaNajvise.id)"
        matTooltip="Najviše kombinovano sa...">
        <mat-icon class="icon-class-fill">help_outline</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <!-- <img mat-card-image src="https://placekitten.com/g/350/200"> -->
    <img mat-card-image src='{{obucaNajvise.image}}' />
    <mat-card-content>
      <p>Izabrano puta : <strong>{{obucaNajvise.poeni}}</strong></p>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <button mat-icon-button color="accent" (click)="otvoriDijalog(obucaNajvise.id)"
        matTooltip="Najviše kombinovano sa...">
        <mat-icon class="icon-class-fill">help_outline</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<mat-divider style="margin-top: 3%;"></mat-divider>
<h2 style="margin-left: 1%;">Birane kombinacije poslednjih 7 dana </h2>
<div *ngFor="let kombinacija of listaKombinacija">
  <div style="display:flex; flex-direction: row; margin: 5px 1%;">
    <h2 style=" color: #73cb90;">Kombinacija </h2>
    <div style="margin-left: auto; margin-right: 0;  display: flex; align-items: center; vertical-align: middle;">
      <span
        style="color: #4e7d5e; font-size: 30px; font-weight: bold; font-family: 'Courier New', Courier, monospace;">{{
        kombinacija.vreme | date:'EEEE, MMMM d, y HH:mm' }}</span>
    </div>
  </div>
  <div style="display:flex; flex-direction: row; max-width: 100%; margin-bottom: 10px;">
    <mat-card class="example-card">

      <img mat-card-image src='{{kombinacija.gornjiDeo.image}}' />
      <mat-card-actions class="card-actions">
        <button mat-icon-button color="accent" (click)="otvoriDijalog(kombinacija.gornjiDeo.id)"
          matTooltip="Najviše kombinovano sa...">
          <mat-icon class="icon-class-fill">help_outline</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">

      <img mat-card-image src='{{kombinacija.donjiDeo.image}}' />
      <mat-card-actions class="card-actions">
        <button mat-icon-button color="accent" (click)="otvoriDijalog(kombinacija.donjiDeo.id)"
          matTooltip="Najviše kombinovano sa...">
          <mat-icon class="icon-class-fill">help_outline</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">

      <img mat-card-image src='{{kombinacija.jakna.image}}' />
      <mat-card-actions class="card-actions">
        <button mat-icon-button color="accent" (click)="otvoriDijalog(kombinacija.jakna.id)"
          matTooltip="Najviše kombinovano sa...">
          <mat-icon class="icon-class-fill">help_outline</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">

      <img mat-card-image src='{{kombinacija.obuca.image}}' />
      <mat-card-actions class="card-actions">
        <button mat-icon-button color="accent" (click)="otvoriDijalog(kombinacija.obuca.id)"
          matTooltip="Najviše kombinovano sa...">
          <mat-icon class="icon-class-fill">help_outline</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>