<mat-toolbar class="md-medium-tall" style="margin-top: 20px;" color="primary">
  <mat-toolbar-row>
    <a class="text-class" [routerLink]="'/'">Sistem za preporuku odevne kombinacije</a>
    <span class="menu-spacer"></span>
    <div>      
      <button mat-raised-button color="accent" *ngIf="!loggedIn()" [routerLink]="'/login'"> Log in </button>
      <button mat-raised-button color="primary" *ngIf="loggedIn()" [routerLink]="'/register-form'">Odabir kombinacije</button>  
      <button mat-raised-button color="accent" *ngIf="loggedIn()" (click)="logout()"> Log out </button>          
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>