.menu-spacer {
    flex: 1 1 auto;
}

button{
    border-radius: 10%;
}

.button-class {
    margin: 10px;    
    font-size: 25px;
    line-height: 40px;
    height: auto;
    width: auto;
    background-color: lavenderblush;
}
    

.menu-spacer {
    flex: 1 1 auto;
}

.text-class  {  font-size: 40px; text-decoration: none; color: lavender;}
